<!DOCTYPE html>
<html lang="es">
{{> head }}
<body>
{{> navbar }}

<div class="container">
  <div class="row">
  <div class="col-8">
    <h1>About page</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione quia rem facere itaque voluptatibus ipsum corporis expedita odio. Aliquam nemo quo esse qui fugit eum maxime amet dolorem repudiandae quia.</p>
  </div>
  <div class="col-4">
    <img src="assets/img/face.png" alt="" class="img-thumbnail">
  </div>
</div>
</div>
{{> footer }}
{{> scripts }}  
</body>
</html>